#top-bar .tb-left, a {
	color: #CAE9E6;
}

#top-bar {
	background: #71C4BD;
}

.color-tink {
	color: #E3447C;
}

.color-grey {
	color: #657181;
}

.btn-custom-tink {
    color: #F7C9DA;
    background-color: #DF296A;
    border-color: #e01f62;
}

.btn.icon-custom-grey {
	color: #657181;
}

.form-custom {
    color: #E3447C;
}

#display-actions a {
	color: #E1E5ED;
}

#display-actions a.active {
	color: #E3447C;
}

#cart-icon span.number {
    color: #DF296A;
}

/* BEGIN: Top navigation */
.navbar-custom .nav-item.active .nav-link {
    color: #E3447C!important;
}

.form-inline .form-control.custom-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #E1E5ED;
  opacity: 1; /* Firefox */
}

.form-inline .form-control.custom-input {
	border-color: #E1E5ED;
}
/* END: Top Navigation */

/* BEGIN: Banner*/
section#banner ol.breadcrumb {
	background-color: transparent;
	color: #788290;
}

section#banner ol.breadcrumb a {
	color: #788290;
}

section#banner ol.breadcrumb>li+li:before {
    color: #788290;
}

section#banner ol.breadcrumb li.active {
    color: #FB0C50;
}
/* END: Banner; */

/* BEGIN: Content Top Actions */
div#top-content-actions {
	border-color: #E1E5ED;
}
/* END: Content Top Actions */

/* BEGIN: Filters & Products; */
.product .product-name {
	color: #000;
}

.product .product-price {
	color: #E3447C;
}

.custom-pagination .page-item .page-link {
	color: #E4E4E4;
}

.page-item.active .page-link {
	color: #fff;
    background-color: #E3447C;
    border-color: #E3447C;
}
/* END: Filters & Products; */

/* BEGIN: Footer; */
footer {
    background: #F9F9F9;
}

footer h6.links-title {
    color: #657181;
}

footer ul.links-list a {
    color: #8A939F;
}

div#contact-wrapper {
    background: #71C4BD;
	color: #fff;
}
/* END: Footer; */

/* BEGIN: Product Detail; */
#product-info > h5.price {
	color: #FB0C50;
}

.btn-custom-add-to-cart {
	color: #FFFFFF;
    background-color: #DF296A;
    border-color: #e01f62;
}

#product-info .sub-info, #product-info .sub-info a {
	color: #C3C9D7;
}

#product-info .sub-info span{
	color: #000;
}

div#product-content .content {
	color: #A8AFB8;
}

#related-product h5.title {
    color: #464646;
}
/* END: Product Detail; */

/* BEGIN: Cart Detail; */
.btn-custom-order {
    color: #FFFFFF;
    background-color: #DF296A;
    border-color: #e01f62;
}
/* END: Cart Detial; */

/* BEGIN: Payment Detail; */
h3.title-page {
    color: #DF296A;
}

.btn-custom-discount-cart {
    color: #FFFFFF;
    background-color: #DF296A;
    border-color: #e01f62;
}

.btn-custom-payment {
    color: #FFFFFF;
    background-color: #DF296A;
    border-color: #e01f62;
}

.btn-custom-continue-shopping {
    color: #FFFFFF;
    background-color: #DF296A;
    border-color: #e01f62;
}
/* END: Payment Detail; */