*{
  font-size: 12px;
}
.v-center {
  display: flex;
  justify-content: left;
  align-items: center;
}
#pagination{
  position: absolute;
  width: 100%;
  bottom: -50px;
  left: 0;
}
.ibox-content{
  position: relative;
}
.form-control{
  height: 32px;
  font-size:12px
}
.hr-line-dashed {
  margin: 10px 0 20px 0;
}
.dataTables_wrapper {
  padding-bottom: 0;
}
.ibox-content{
  /*padding: 0;*/
  padding: 10px;
  box-shadow: 1px 2px 5px #cbcbd6;
}
.btn, .label{
  border-radius:0;
}
/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}

/* BEGIN: Style for Layout */
body{
  background-color: #FFFFFF;
}

.bg-white{
  background-color: #FFFFFF;
}

.c-header-logo-wrapper{
  float: left;
}

.c-header-logo-wrapper h1{
  margin-left: 30px;
  margin-right: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

#page-wrapper{
  border-left: 1px solid #e7eaec;
}

.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus{
  background-color: #FFF;
  color: #293846;
}

.nav > li.active{
 background-color: #FFF;
 color: #293846;
 border-left: none;
}
.btn-lg, .btn-group-lg>.btn{
  font-size: 14px;
}
.nav .nav-item a > .nav-label{
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
}

.nav .nav-item a > i{
  font-size: 14px;
}

.nav .nav-item.active a .nav-label{
  font-weight: 700;
}

.nav .nav-item:hover a .nav-label{
  font-weight: 700;
}


.nav > li.active > a{
  color: #293846;
}

ul.nav-second-level{
  background-color: #FFF;
  color: #293846;
}

.nav-second-level li a{
  font-size: 14px;
  font-weight: 400;
}

.wrapper-content{
  padding-left: 0;
  padding-top: 15px;
  padding-right: 0;
  padding-bottom: 30px;
}

#fSearch{
  padding: 0 15px;
}

.pr-15{
  padding-right: 15px;
}

.pl-15{
  padding-left: 15px;
}

.mr-10{
  margin-right: 10px;
}

.c-code{
  width:20px; 
  height:20px;
  float: left;
}

.c-code-name{
  line-height: 20px;
  float: left;
  margin-left: 5px;
}

.arrow{
  margin-top: 5px;
}

@media (min-width: 768px){
  .lead, .lead b {
    font-size: 16px;
  }
}
.switchery > small {
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  height: 22px;
  position: absolute;
  top: 0;
  width: 22px;
}
.switchery {
  background-color: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  height: 22px;
  position: relative;
  vertical-align: middle;
  width: 40px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
/* END: Style for Layout */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: -0px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #18a689;
}

input:focus + .slider {
  box-shadow: 0 0 1px #18a689;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.sweet-alert .sa-icon.sa-success::before, .sweet-alert .sa-icon.sa-success::after {
  height: 110px;
}

/* Note Editor */
.note-editor{
  border: 1px solid #e5e6e7;
  margin-bottom: 15px
}

.sweet-overlay{
  z-index: 9999;
}

.sweet-alert{
  z-index: 99999;
}

/* List tree CSS */
.list-tree{
  padding-left: 20px;
  list-style-type: none;
}

.list-tree-item{

}

.list-tree-item .checkbox{
  margin-bottom: 5px;
  margin-top: 5px;
}

.list-tree-section {
  padding: 5px 0px;
  border: 1px solid #eee;
}

.c-gallery-preview input[type="file"] {
  display: block;
}

.c-gallery-preview .pip {
  display: inline-block;
  margin: 10px 10px 0 0;
}

.c-gallery-preview .img-wrapper{
  display: block;
  width: 150px;
  height: 100px;
}

.c-gallery-preview .img-wrapper img.imageThumb{
  width: 100%;
  height: 100%;
  border: 2px solid #e7eaec;
  padding: 1px;
  cursor: pointer;
  object-fit: cover;
}

.c-gallery-preview .remove {
  display: block;
  /*background: #444;*/
  /*border: 1px solid black;*/
  /*color: white;*/
  text-align: center;
  cursor: pointer;
}

.c-gallery-preview .remove:hover {
/*  background: white;
color: black;*/
}

#i-product-photos img.imageThumb {
  width: 100px;
}

.list-tree-section input{
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background: #FFF;
  height: 14px;
  width: 14px;
  border: 1px solid #999;
  float: left;
}

.list-tree-section input:checked {
  background: #FFF;
}

.list-tree-section input:hover {
  filter: brightness(100%);
}

.list-tree-section input:after {
  content: '';
  position: relative;
  left: 3px;
  top: 0;
  width: 6px;
  height: 10px;
  border: solid #666666;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  display: none;
}

.list-tree-section input:checked:after {
  display: block;
}

.list-tree-section input:disabled:after {
  border-color: #7b7b7b;
}

.list-tree label{
  margin-left: 5px;
  line-height: 16px;
  padding-top: 2px;
}